.admin-bottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

@media screen and (max-width:400px) {
    .admin-bottom{
        justify-content: center;
    }
}