.topbar{
    height: 50px;
    width: 100%;
    background-color: #192c5e;
    display: flex;
    position: relative;
    align-items: center;
    color: #ceedfd;
    display: flex;
    justify-content: space-between;
}

.topleft{
    flex: 2;  
    display: flex; 
    align-items: center;
}

.topcenter{
    flex: 8;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}

.search{
    display: flex;
    align-items: center;
}


.textsearch{
    width: 400px;
    border: none;
    height: 30px;
    margin-left:10px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.searchicon{
    font-size: xx-large;
    margin-left: 5px;
    cursor: pointer;
}

.topright{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}

.topleftspan{
    margin-left: 10px;
    font-size:120%;
    color: #ceedfd;
    font-weight:500;
    cursor: pointer;
}

.top-logo{
    height: 32px;
    width: 32px;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 10px;
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.menu-i{
    margin-left: 20px;
    cursor: pointer;
}

.menu-i:hover{
    color: #94a1a7;
}

.profile-img{
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer;
}

.user-rt{
    margin-right: 20px;
}

.home{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin-left: 30px;
    cursor: pointer;
}

.home:hover{
    color: #94a1a7;
}

.log-out{
    width: 60px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10%;
    background-color: #c3c9da;
    box-sizing: border-box;
   font-weight: 600;
   font-size: 11px;
}

.log-out:hover{
    background-color:#9ba3b8 ;
}

.homebtn{
    margin-right: 30px;
    cursor: pointer;
    
}

.homebtn:hover{
    color: #a8a9ab;
}


@media screen and (max-width:400px) {
    .topleftspan{
        display: none;
    }

    .user-rt{
        display: none;
    }

    .homebtn{margin-right: 160px;}

    .search{
        display: none;
    }
    .user{
        display: none;
    }

    .menu{
        margin-left: -80px;
    }

}


