@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,500;1,500&family=Tiro+Devanagari+Hindi&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}